In [ ]:
# !pip install faker

In [29]:
from faker import Faker
import csv
import pandas as pd

'C:\\Users\\user\\Stutern practice'

In [8]:
!python --versio

Python 3.9.12

In [40]:

fake = Faker()

# Open a CSV file for writing
with open(
    r"C:\Users\user\Desktop\Stutern Inter-track project\loan_data.csv",
    "w",
    newline="",
) as file:
    writer = csv.writer(file)
    # Write header row

    writer.writerow(
        [
            "Name",
            "Phone Number",
            "Email Address",
            "Date of Birth",
            "Address",
            "National Identity Number",
            "Employment",
            "Income per month",
            "Loan Type",
            "Repayment Type",
            "Credit Score",
            "Collateral Type",
            "Collateral Value",
            "Guarantor's Name",
            "Guarantor's Phone Number",
            "Guarantor's Email",
            "Guarantor's Date of Birth",
            "Guarantor's Address",
            "Guarantor's Social Security Number",
            "Guarantor's Relationship",
            "Guarantor's Employment",
            "Guarantor's Other sources of income",
            "Guarantor's Income per month",
            "Loan Status",
        ]
    )

    # Generate 500,000 rows of data
    for _ in range(50):
        name = fake.name()
        phone_number = (
            fake.random_element(["080", "070", "081", "090"])
            + "-"
            + fake.numerify("####")
            + "-"
            + fake.numerify("####")
        )

        email = fake.email()
        date_of_birth = fake.date_of_birth()
        address = fake.address()
        national_indentity_number = fake.random_number(digits=11)
        employment = fake.random_element(
            ["FullTime", "PartTime", "Self-Employed", "Contract"]
        )
        income_per_month = fake.random_int(min=1000, max=10000)
        loan_type = fake.random_element(
            ["Housing Loan", "Student Loan", "Agricultural Loan", "Business Loan"]
        )

        repayment_type = fake.random_element(
            [
                "Interest only",
                "Principal & Interest",
                "Capitalized Interest",
                "Housing Loan",
                "Others",
            ]
        )

        credit_score = fake.random_number(digits=3)
        collateral_type = fake.random_element(["Business Equipment", "Real Estate"])
        collateral_value = fake.random_int(min=1000, max=10000)
        guarantor_name = fake.name()
        guarantor_phone_number = fake.phone_number()
        guarantor_email = fake.email()
        guarantor_dob = fake.date_of_birth()
        guarantor_address = fake.address()
        guarantor_ssn = fake.ssn()
        guarantor_relationship = fake.random_element(
            ["Parent", "Sister", "Brother", "Spouse", "Friend", "Employer"]
        )
        guarantor_employment = fake.random_element(
            ["FullTime", "PartTime", "Retiree", "Contract", "Business Owner"]
        )

        guarantor_other_sources_income = fake.random_element(
            [
                "Rental Income",
                "Investment Income",
                "Freelancing",
                "Business Profits",
                "Royalties",
                "Agriculture and Farming",
                "Rental of Assets",
            ]
        )

        guarantor_income_per_month = fake.random_int(min=1000, max=10000)
        loan_status = fake.random_element(["Approved", "Rejected"])

        # Write the data to the CSV file
        writer.writerow(
            [
                name,
                phone_number,
                email,
                date_of_birth,
                address,
                national_indentity_number,
                employment,
                income_per_month,
                loan_type,
                repayment_type,
                credit_score,
                collateral_type,
                collateral_value,
                guarantor_name,
                guarantor_phone_number,
                guarantor_email,
                guarantor_dob,
                guarantor_address,
                guarantor_ssn,
                guarantor_relationship,
                guarantor_employment,
                guarantor_other_sources_income,
                guarantor_income_per_month,
                loan_status,
            ]
        )

In [41]:
data = pd.read_csv(r"C:\Users\user\Desktop\Stutern Inter-track project\loan_data.csv")
data.head(3)

,Name,Phone Number,Email Address,Date of Birth,Address,National Identity Number,Employment,Income per month,Loan Type,Repayment Type,...,Guarantor's Phone Number,Guarantor's Email,Guarantor's Date of Birth,Guarantor's Address,Guarantor's Social Security Number,Guarantor's Relationship,Guarantor's Employment,Guarantor's Other sources of income,Guarantor's Income per month,Loan Status
0,Shelly Horton,070-2539-8775,hgardner@example.net,1915-07-21,"411 Paul Knoll\nPort Anthony, PW 16452",90786396196,Contract,3819,Business Loan,Capitalized Interest,...,001-749-016-1637x5455,ksmith@example.com,1914-01-28,"40356 Aaron Alley Suite 707\nEast Mary, VI 62261",017-23-4266,Employer,PartTime,Freelancing,5053,Rejected
1,Kyle Thornton,080-4326-4732,david27@example.org,1966-04-03,"8353 Margaret Estate\nPricemouth, NC 25834",45036336755,Contract,8389,Business Loan,Principal & Interest,...,732.945.9977x8095,mferguson@example.net,1993-11-03,"37046 Brent Locks\nMelissashire, NE 81713",162-69-7899,Employer,Business Owner,Agriculture and Farming,3574,Rejected
2,Brandon Sweeney,070-7944-6281,mporter@example.net,1991-03-26,"0669 Jack Court Suite 632\nNorth Kimberly, NM ...",8679288137,FullTime,4366,Agricultural Loan,Interest only,...,001-333-782-0420,hilllaura@example.com,1979-09-21,"480 Jenkins Row\nEvansberg, MH 22366",216-13-0895,Employer,Retiree,Royalties,4161,Approved

In [27]:
data.shape

(50, 24)

In [22]:
data.describe()

,National Identity Number,Income per month,Credit Score,Collateral Value,Guarantor's Income per month
count,5.000000e+01,50.000000,50.000000,50.000000,50.000000
mean,4.909859e+10,5692.680000,458.820000,5060.000000,5323.740000
std,2.878482e+10,2725.178252,257.469292,2665.571141,2604.407425
min,3.642363e+09,1079.000000,29.000000,1114.000000,1285.000000
25%,2.310837e+10,3456.250000,254.500000,2810.750000,2893.000000
50%,5.335150e+10,5890.000000,417.000000,4869.500000,5139.500000
75%,7.705666e+10,8053.000000,623.750000,7138.250000,7674.250000
max,9.951344e+10,9915.000000,991.000000,9906.000000,9991.000000